.navbar-toggler {
  background-color: white;
}

.foot{
  background-color: #221d23;
   color: white; 
   height: 100px;
}

.fo{

  padding-top: 35px;
  padding-left: 50px;
}

.fo1{

  padding-top: 35px;
  text-align: right;
  padding-right: 90px;
}

.lil{
  padding-bottom: 90px;
}

.card-body{

  padding: 3.25rem;
}