.btn-outline-success {
    color: white;
    border-color: #2ab7ca;
    background-color:#2ab7ca;
}

.boton{

    color: white;
    border-color: #2ab7ca;
    background-color:#2ab7ca;
    border-radius: 0px;
   padding-left: 80px;
   padding-right: 80px;
   font-family: 'Open Sans', sans-serif;
  
}