footer div div span{
    margin: 10px;
}

.texto{
    width: 320px;
    padding-top:50px ;
    padding-left: 70px;
  }
  .texto h1{
      letter-spacing: -1px;
      font-size: 2.01em;
      font-weight: 700;
  }
  .texto span{
      font-size: 11px;
  }

  .tex h2{
      font-family: 'Raleway', sans-serif;
      font-weight: bolder;
      text-align: center;
       }

       .textos h3 {
        letter-spacing: -1px;
      font-size: 1.3em;
      font-weight: bold;
      font-family: 'Raleway', sans-serif;
    }

    .textos p {
        padding-top: 10px;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;


    }

    .img_b h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 13rem;
    padding-bottom: 50px;
   
    
     }

     .ca h3{
         color: black;
     }
